<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.ruanyifeng.com/" target="_blank" title="阮一峰的个人网站">阮一峰</a></li>
      <li><a href="http://www.kenengba.com" target="_blank" title="可能吧">可能吧</a></li>
      <li><a href="http://zespia.tw/hexo" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="http://yangjian.me" target="_blank" title="YangJian">Alimon's Blog</a></li>
    </ul>
</div>